.navbar {
  padding-bottom: 0;

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
  }

  @mixin light {
    background-color: var(--mantine-color-white);
  }
}

.header {
  padding: var(--mantine-spacing-md);
  padding-top: 0;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);

  @mixin dark {
    color: var(--mantine-color-white);
    border-bottom: 1px solid var(--mantine-color-dark-4);
  }

  @mixin light {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);
    border-bottom: var(--mantine-color-gray-3);
  }
}

.links {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}
